.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

canvas {
  border: 1px solid black;
  background: white;
}

img {
  background: whitesmoke;
}

.stories-container {
  display: flex;
}

body {
  background: linear-gradient(-45deg, #93A5CF, #E4EFE9) fixed;
}

.cursive {
  font-family: 'Architects Daughter', cursive;
}