img {
  border: 1px solid #6796fc;
  margin: auto;
}

.slick-prev {
  left: 0;
  z-index: 1; /* changing left of button won't give access to button*/
}

.slick-next {
  right: 0;
}

.slick-next:before, .slick-prev:before {
  color: #6796fc;
}